#title {
    text-align: center;
}

.black {
    background-color: black;
}

.violet {
    background-color: blueviolet;
}

.orange {
    background-color: darkorange;
}

.pink {
    background-color: deeppink;
}

.square {
    border: solid 1px black; 
    width: 100px;
    height: 100px;
    display: inline-block;
}

#color-palette {
    display: inline-block;
    margin-left: 600px;
}

#pixel-board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 60px;